.vscode
.DS_Store
.settings
.vagrant
*.swp
*.out
*.retry
*.log
*.dump
*.gz
*.pyc
*.o
*.tar.gz
*.pem
*.tmp
*.tmp.*
*.wasm
cover.html
node_modules/
tags
cpp/*.txt
golang/*/*.txt
__pycache__
python/lena_copy.png
.ipynb_checkpoints
MachineLearning/MNIST-data/
apr_test/aprtest
apr_test/aprtest.dSYM/
apr_test/libapr.conf
curl_with_http3/curl-http3-mac
curl_with_http3/curl/
curl_with_http3/quiche/
rust/*/target
target/
openssl-*/
# 모든 위치에서 bin/redis-* 무시
**/bin/redis-*
# bin/*.rs 파일이 있는 경우가 있다.
!bin/*.rs
