.vscode
.DS_Store
.settings
.vagrant
*.out
*.retry
*.log
*.dump
*.gz
*.pyc
*.o
*.tar.gz
*.pem
*.tmp.*
cpp/*.txt
golang/*/*.txt
__pycache__
.ipynb_checkpoints
MachineLearning/MNIST-data/
apr_test/aprtest
apr_test/aprtest.dSYM/
apr_test/libapr.conf
curl_with_http3/curl-http3-mac
curl_with_http3/curl/
curl_with_http3/quiche/
rust/*/target
target/
openssl-*/
bin/