# caddy configuration
# https://caddyserver.com/docs/caddyfile/directives
#
:8077 {
	respond "test port..."
}

:8078 {
	# 해시값은 매번 달라진다
	# caddy hash-password -p qwer1234
	basicauth {
		ysoftman $2a$14$Hw1nzMMDTzGUVmBngdzTwuYt4VOO/3YTOXeYg6s6LckjNbDW7OihS
	}
	file_server browse
}

:8079 {
	# sets the root path of the site, {http.vars.root} 값을 설정한다.
	root * /Users/ysoftman/workspace/test_code/caddy/static
	# file server 로 서빙해야 static(html)이 보인다.
	file_server
}

:8080 {
	log {
		output stdout
	}
	handle_path /port/* {
		reverse_proxy localhost:8077
	}
	handle_path /file/* {
		rewrite * /
		reverse_proxy localhost:8078
	}
	handle_path /index {
		reverse_proxy localhost:8079
	}
}

