# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
DisableFormat: false
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 0 # 자동 줄바꿈 비활성화
# ColumnLimit: 100
# BreakBeforeBraces: Allman # Always break before braces.
# BreakBeforeBraces: Attach # Always attach braces to surrounding context.
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  # AlignFunctionDeclarations: true
  AlignFunctionPointers: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  PadOperators: true
AlignConsecutiveTableGenBreakingDAGArgColons:
  Enabled: true
  AlignCompound: true
  PadOperators: true
AllowAllParametersOfDeclarationOnNextLine: true
NamespaceIndentation: None
BinPackParameters: false
# 파일 전체 포맷팅
# brew install clang-format
# --style=file 로 지정하면 .clang-format 파일을 참고한다.
# fd "\.c$|\.cpp$" --exec clang-format --style=file -i
#
# 주석 영역 포맷팅 방지
# // clang-format off
# // int a = 1;
# // int b = 2;
# // clang-format on
