<!--bootstrap 적용을 위해 html5 형식으로 doctype 및 lang 설정-->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>testpage</title>
	<!--bootstrap 적용-->
	<meta charset="utf-8">
	<!--모바일 디바이스에 반응-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	This is test page.
	<form action="/test" method="post">
		번호: <input type="number" name="user_no" size=30 value="1" />
		<br>
		이름: <input type="text" name="user_name" size=30 value="홍길동" />
		<br>
		<!--<input type="submit" name="send" size=10 value="보내기" />-->
		<!--bootstrap style-->
		<button type="submit" name="send" class="btn btn-success">보내기</button>
	</form>
	<!-- 템플릿 파일로 넘어온 데이터 처리 -->
	<!-- 템플릿(중괄호)은 html 주석으로 감싸도 주석으로 취급되지 않는다. -->
	<!-- 중괄호 안에 /* */ 주석로 표시해야 한다. -->
	
	{{$con10 := 10}}
	{{$con20 := 20}}
	
	{{/* 입력된 사용자 리시트 출력. */}}
	{{range .}}
		{{if le .UserNo $con10}}
		<span style ="background-color:#FF00FF">(0~10) UserNo = {{.UserNo | html}} Name = {{.StrName | html}}</span>
		{{else if le .UserNo $con20}}
		<span style ="background-color:#00FF00">(11~20) UserNo = {{.UserNo | html}} Name = {{.StrName | html}}</span>
		{{else}}
		<span style ="background-color:#00FEFE">(21~...) UserNo = {{.UserNo | html}} Name = {{.StrName | html}}</span>
		{{end}}
		<br>
	{{end}}
	<br>
	<a href="/">main page</a>
</body>
</html>
