this is config for testing ansible template.

hostvars[inventory_hostname]['ansible_default_ipv4']['address']
{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}

ansible_host
{{ ansible_host }}

ansible_env
{{ ansible_env }}
